@font-face {
  font-family: "vazir";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/Vazir.woff") format("woff");
}

@font-face {
  font-family: "vazir";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/Vazir-Bold.woff") format("woff");
}

button,
body {
  font-family: "vazir";
}

header {
  background-image: linear-gradient(rgba(0, 0, 0.2, 0.2), #250029),
    url("/assets/images/test3\ copy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 724px) {
  header {
    background-image: linear-gradient(rgba(0, 0, 0.2, 0.2), #250029),
      url("/assets/images/test1.jpeg");
    height: 650px;
  }
}
