@font-face {
  font-family: "vazir";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/Vazir.woff") format("woff");
}

@font-face {
  font-family: "vazir";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/Vazir-Bold.woff") format("woff");
}

button,
body {
  font-family: "vazir";
}

header {
  background-image: linear-gradient(rgba(0, 0, 0.2, 0.2), #250029),
    url("/assets/images/test3\ copy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 724px) {
  header {
    background-image: linear-gradient(rgba(0, 0, 0.2, 0.2), #250029),
      url("/assets/images/test1.jpeg");
    height: 650px;
  }
}

@media screen and (min-width: 724px) {
  .background-mentoring {
    background-image: linear-gradient(rgba(0, 0, 0.2, 0.2), #250029),
      url("/assets/images/student.jfif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

.title-services {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.services {
}

/* scroll mode */

html {
  scroll-behavior: smooth;
}
